body {
    background: #e6ecf0;
    font-family: 'Asap', sans-serif;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    border-radius: 16px;
}

.avatar {
    border-radius: 100px;
    width: 48px;
    margin-right: 15px;
}


.tweet-wrap {
    max-width: 490px;
    background: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3px;
    padding: 30px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
}

.tweet-header {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
}

.tweet-header-info {
    font-weight: bold;
}

    .tweet-header-info span {
        color: #657786;
        font-weight: normal;
        margin-left: 5px;
    }

    .tweet-header-info p {
        font-weight: normal;
        margin-top: 5px;
    }

.tweet-img-wrap {
    padding-left: 60px;
}

.tweet-video-wrap {
    padding-left: 60px;
}


.tweet-info-counts {
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
}

    .tweet-info-counts div {
        display: flex;
        margin-right: 20px;
    }

        .tweet-info-counts div svg {
            color: #657786;
            margin-right: 10px;
        }

@media screen and (max-width:430px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tweet-header {
        flex-direction: column;
    }

        .tweet-header img {
            margin-bottom: 20px;
        }

    .tweet-header-info p {
        margin-bottom: 30px;
    }

    .tweet-img-wrap {
        padding-left: 0;
    }

    .tweet-video-wrap {
        padding-left: 0;
    }

    .tweet-info-counts {
        display: flex;
        margin-left: 0;
    }

        .tweet-info-counts div {
            margin-right: 10px;
        }
}

input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    input[type=text]:focus {
        border-color: #808080;
    }

#filterstream {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button:hover,
.button:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}